{lib_dirs, [ "./",
	     "./ebin"
	   ]}.

{port_specs, [{"priv/ocv_drv.so", ["c_src/*.c"]}]}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -I/opt/local/include `pkg-config --cflags --libs opencv`"},
	    {"LDFLAGS", "$LDFLAGS `pkg-config --libs opencv`"}]}.

{erl_opts, [no_debug_info,
	    {i, "./include"}
	   ]}.

{deps, []}.

